{{ define "pagination" }}

<div class="pagination">
    <ul>
        <li>
            {{ if (gt .pagination.CurrentPage 1) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.PreviousPage }}">
                Previous
            </a>
            {{ else }}
            <span>Previous</span>
            {{ end }}
        </li>

        <li>
            {{ if (gt .pagination.CurrentPage 3) }}
            <a href="{{ .pagination.BaseUrl }}/page/1">
                1
            </a>
            {{ end }}
        </li>

        <li>
            {{ if (gt .pagination.CurrentPage 3) }}
            <span>
                ...
            </span>
            {{ end }}
        </li>

        <li>
            {{ if (gt .pagination.TwoPreviousPage 1) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.TwoPreviousPage }}">
                {{ .pagination.TwoPreviousPage }}
            </a>
            {{ end }}
        </li>

        <li>
            {{ if (gt .pagination.CurrentPage 1) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.PreviousPage }}">
                {{ .pagination.PreviousPage }}
            </a>
            {{ end }}
        </li>

        <li>
            <span>{{ .pagination.CurrentPage }}</span>
        </li>

        <li>
            {{ if (lt .pagination.CurrentPage .pagination.TotalPages) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.NextPage }}">
                {{ .pagination.NextPage }}
            </a>
            {{ end }}
        </li>

        <li>
            {{ if (lt .pagination.TwoNextPage .pagination.TotalPages) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.TwoNextPage }}">
                {{ .pagination.TwoNextPage }}
            </a>
            {{ end }}
        </li>

        <li>
            {{ if (lt .pagination.ThreeNextPage .pagination.TotalPages) }}
            <span>
                ...
            </span>
            {{ end }}
        </li>

        <li>
            {{ if (lt .pagination.ThreeNextPage .pagination.TotalPages) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.TotalPages }}">
                {{ .pagination.TotalPages }}
            </a>
            {{ end }}
        </li>

        <li>
            {{ if (lt .pagination.CurrentPage .pagination.TotalPages) }}
            <a href="{{ .pagination.BaseUrl }}/page/{{ .pagination.NextPage }}">
                Next
            </a>
            {{ else }}
            <span>Next</span>
            {{ end }}
        </li>
    </ul>
</div>

{{ end }}